h2 {
background: green;
color: #fff;
padding: 10px;
}
.red {
color: red;
}
.padding {
padding: 30px 40px;
}

.margin { 
margin-left: 50px;
}

ul.bord li {
margin: 10px;
display: block;
boder: 10px solid black;
background: green;
}

.sq {
background: blue;
width: 40%;
color: #ffffff;

}
