h2 {
background: green;
}
.red {
color: red;
}
.padding {
padding: 40px 60px;
}

.margin { 
margin-left: 50px;
}

ul.bord li {
list-style-type: none;
boder: 1px solid black;
background: green;
}

.sq {
background: green;
width: 20%;

}
