h2 {
background: green;
}
.red {
color: red;
}
.padding {
padding: 40px 20px;
}

.margin { 
margin-left: 50px;
}

li {
boder: 1px solid black;
}

.sq {
background: green;
width: 400px;
height: 400px;
}
